<!DOCTYPE html>
<html>
  <head>
    <title>Voice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" id="main-container">
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Повелитель ботов', root_path %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
          <footer class="text-center">
            <p class="small text-muted">Разработка сервиса вдохновлена товарищем Адамом в 2018 году</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
